[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/sites/SITENAME/source
ExecStart=/home/pi/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/home/pi/sites/SITENAME.socket superlists.wsgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target